<div class="container-fluid mt-4 pt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 col-md-4 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Total Productos</h5>
              <p class="card-text display-4">150</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Productos Bajos</h5>
              <p class="card-text display-4 text-warning">12</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Pedidos Pendientes</h5>
              <p class="card-text display-4 text-info">5</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          Últimos Movimientos de Inventario
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pechuga de Pollo</td>
                  <td>Entrada</td>
                  <td>50 kg</td>
                  <td>2023-10-26</td>
                </tr>
                <tr>
                  <td>Patatas Fritas</td>
                  <td>Salida</td>
                  <td>10 kg</td>
                  <td>2023-10-26</td>
                </tr>
                <tr>
                  <td>Refresco Cola</td>
                  <td>Entrada</td>
                  <td>24 unidades</td>
                  <td>2023-10-25</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
