.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que ocupe el alto completo de la pantalla */
    background-color: #f8f9fa; /* Color de fondo suave */
}

.login-card {
    max-width: 400px; /* Ancho máximo para el formulario */
    width: 90%; /* Ancho responsivo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #343a40;
}
